body {
    background-color: #2b2d42;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

main {
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    color: #edf2f4;
    font-size: 50px;
}

.box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box {
    background-color: #ef233c;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow:  0 0 3px 0.6px #d90429;
}

.date {
    border: none;
    font-size: 0.6rem;
    width: 90px;
    height: 10px;
    border-radius: 3px;
    padding: 10px;
    font-family: 'Lucida Sans';
    background-color: #edf2f4;
    color: #8d99ae;
}

.calculate {
    font-size: 0.6rem;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-family: 'Lucida Sans';
    background-color: #edf2f4;
    color: #8d99ae;
}

.inner-boxs {
    background-color: #ef233c;
    width: 70px;
    margin: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 3px 0.6px #d90429;
}

.number {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1.6rem;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-size: 0.65rem;
    color: #2b2d42;
}